@{
    ViewData["Title"] = "Contato";
}
@model Mensagem

<h3 style="margin-top: 20px;">Olá <strong>@Model.Nome</strong>, agradecemos por entrar em contato conosco!</h3>
<p style="margin-top:20px;">Aqui está o conteúdo da sua mensagem:</p>
<p style="margin-top:20px;"><Strong>Nome:</Strong> @Model.Nome</p>
<p style="margin-top:20px;"><Strong>E-Mail:</Strong> @Model.Email</p>
<p style="margin-top:20px;"><Strong>Mensagem</Strong> @Model.Msg</p>