@{
    ViewData["Title"] = "Contato";
}
@model Mensagem

<h2>Mande uma crítica, um elogio, uma receita sua ou uma dica legal!</h2>

<div class="form-contato">
    <form action="EnviarMensagem" method="POST">
        <fieldset>
            <legend>Fale Conosco!</legend>

            <label asp-for="Nome">Nome</label>
            <input asp-for="Nome" required>

            <label asp-for="Email">Email</label>
            <input type="email" asp-for="Email">

            <label asp-for="Msg">Mensagem</label>
            <textarea asp-for="Msg" cols="30" rows="10" maxlength="600" required></textarea>

            <p style="text-align: center;">
                <input type="submit" value="Enviar">
            </p>
        </fieldset>
    </form>
</div>
